# Ignore everything
*

# Allowing .something files
!.gitignore
!.zshrc

# Specific directories

## My scripts directory
!scripts/
!scripts/*
scripts/spotifyd_password

## Wallpapers
!Wallpapers/
!Wallpapers/*

# Include all files and subdirectories under .config
!.config/

## Hyprland
!.config/hypr
!.config/hypr/*

## Kitty termial emulator
!.config/kitty/
!.config/kitty/kitty.conf

## Waybar
!.config/waybar/
!.config/waybar/*

## Starship prompt editor
!.config/starship/
!.config/starship/*

## Fastfetch
!.config/fastfetch/
!.config/fastfetch/*

## Neovim
!.config/nvim/
!.config/nvim/init.lua

## Spotifyd
!.config/spotifyd/
!.config/spotifyd/*
